/* GLOBAL CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* colors */

  --primary-100: #fae8ff;
  --primary-200: #f5dffc;
  --primary-300: #f0b9ff;
  --primary-400: #e49df7e4;
  --primary-500: #dd7ef8;
  --primary-600: #ce55ef;
  --primary-700: #ac14d6;
  --primary-800: #86198f;
  --primary-900: #71447d;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

/* BLue */
--blue-50:#eff6ff;
--blue-100:#dbeafe;
--blue-200:#bfdbfe;
--blue-300:#93c5fd;
--blue-400:#60a5fa;
--blue-500:#3b82f6;
--blue-600:#2563eb;
--blue-700:#1d4ed8;
--blue-800:#1e40af;
--blue-900:#1e3a8a;
--blue-950:#172554;


  --black : #232323;
  --white: #fff;
  --light-blue: #3995ac;
  --dark-blue: #167084;
  --light-red: #f50f0f;
  --dark-red: #740202;
  --light-green: #3fe848;
  --dark-green: #166c05;


  --small-text:0.875rem;
  --extra-small-text:0.7rem;
  --text-color:var(--grey-800);
  --letterSpacing : 1px;
  --borderRadius:0.25rem;
  --transition :0.3s ease-in-out all;
  --max-width:1000px;
  --fixed-width:500px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body{
  /* background-color: var(--light-blue); */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  color: var(--text-color);
}
p{
  margin: 0;
}

h1,h2,h3,h4{
  margin: 0;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}
a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding: 0;
}
.img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn{
  /* width: 30%; */
  cursor: pointer;
  /* color: var(--white); */
  background: none;
  border: transparent;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  text-transform: capitalize;
  display: inline-block;
  transition: var(--transition);
  padding: 0.375rem 0.75rem;
  font-size: large;
}
.btn:hover {
  background:  rgb(248, 248, 43);
  box-shadow: var(--shadow-3);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--blue-400);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

/* title */

.title {
  text-align: center;
}

.title-underline {
  background:  rgb(232, 232, 7);
  width: 8rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: 1rem;
}

/* ---------------- */
/* PROJECT CSS */
/* ---------------- */

.center {
  width: 80vw;
  margin: 5rem auto;
  max-width: var(--max-width);
}
label{
  text-transform: capitalize;
  font-size: larger;
  font-weight: 400;
  /* margin: 0 1rem; */
}
input{
  background-color: var(--grey-300);
  border: transparent;
  width: 4rem;
  height: 1rem;
  border-radius:var(--borderRadius) ;
  font-weight: bold;
  padding: 0.75rem;
  margin: 1.55rem 1rem;
}

.btn-gen {
  background:var(--primary-600);
  border-color: transparent;
  padding: 0.25rem;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  cursor: pointer;
  font-size: large;
  transition: var(--transition);
}
.btn-gen:hover {
  background-color:  var(--blue-600);
}

.text-container{
  text-align: left;
  font: 1rem sans-serif;
}
.text{
  margin-bottom: 1rem;
}
